{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ contact.street }}</td>
            </tr>
            <tr>
                <th>Zip</th>
                <td>{{ contact.zip }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ contact.country }}</td>
            </tr>
            <tr>
                <th>Phonenumber</th>
                <td>{{ contact.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{% if contact.birthday %}{{ contact.birthday|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Emailaddress</th>
                <td>{{ contact.emailAddress }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><a href="{{ asset('uploads/pictures/' ~ contact.picture) }}">View picture</a></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contact_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('contact_edit', { 'id': contact.id }) }}">Edit</a>
        </li>
        <li>
            <a href="{{ path('contact_delete', { 'id': contact.id }) }}">delete</a>
        </li>
    </ul>
{% endblock %}
